<transition v-bind:[app.viewTransitionName]="transitionName" v-bind:[app.viewTransitionMode]="transitionMode" v-bind:[app.viewInAnimation]="'animate__animated ' + 'animate__' + inAnimation" v-bind:[app.viewOutAnimation]="'animate__animated ' + 'animate__' +  outAnimation"><div id="Favorites" v-bind:class="['app-view', classes]"><dab-sidebar v-bind="app.sidebar"></dab-sidebar><dab-html v-bind="idHTMLFavView">
<br>
<br>
<br>

  <blockquote class="quote-card red-card">
    <p>Our greatest glory is not in never falling, but in rising every time we fall.</p>
    <cite>Confucius</cite>
  </blockquote>

  <blockquote class="quote-card red-card">
    <p>A creative man is motivated by the desire to achieve, not by the desire to beat others.</p>
    <cite>Ayn Rand</cite>
  </blockquote>

  <blockquote class="quote-card red-card">
    <p>A creative man is motivated by the desire to achieve, not by the desire to beat others.</p>
    <cite>Ayn Rand</cite>
  </blockquote>

  <blockquote class="quote-card red-card">
    <p>A creative man is motivated by the desire to achieve, not by the desire to beat others.</p>
    <cite>Ayn Rand</cite>
  </blockquote>

  <blockquote class="quote-card red-card">
    <p>A creative man is motivated by the desire to achieve, not by the desire to beat others.</p>
    <cite>Ayn Rand</cite>
  </blockquote>

  <p class="text-center credits">
    <a>bharanim</a>
  </p></dab-html><dab-container v-bind="container1"><dab-label v-bind="label1fav"></dab-label></dab-container><dab-html v-bind="idHTMLFavBtmNav">

      <div class="bnav">
        <ul>
          <li onclick="app.replaceView('HomePage')">
            <i class="fas fa-home fa-2x"></i>
            <p>Home</p>
          </li>
          <li onclick="app.replaceView('Saved')">
            <i class="fas fa-box-open fa-2x"></i>

            <p>Saved</p>
          </li>
          <li class="active">
            <i class="fas fa-heart fa-2x"></i>
            <p>Fav</p>
          </li>
          <li>
            <i class="fas fa-info fa-2x"></i>
            <p>info</p>
          </li>
        </ul>
      </div>

</dab-html></div></transition>
