<transition v-bind:[app.viewTransitionName]="transitionName" v-bind:[app.viewTransitionMode]="transitionMode" v-bind:[app.viewInAnimation]="'animate__animated ' + 'animate__' + inAnimation" v-bind:[app.viewOutAnimation]="'animate__animated ' + 'animate__' +  outAnimation"><div id="MoreInfo" v-bind:class="['app-view', classes]"><dab-sidebar v-bind="app.sidebar"></dab-sidebar><dab-html v-bind="idHTMLTextInfo">
<br><br><br>
<p class="quoteText" id="idActualQuote">
   <br>click on NEW to get a quote

    <span id="idQuoteAuthor"><br>-<br>Sample Author</span>
</p>
</dab-html><dab-html v-bind="idHTMLInfoBtmNav">      <div class="bnav">

        <ul>

          <li onclick="app.replaceView('HomePage');">
            <i class="fas fa-arrow-left fa-2x"></i>
            <p>back</p>
          </li>

          <li id="reloadbtn" onclick="app.GenerateNew();">
            <i id="reloadinf" class="fas fa-sync fa-2x"></i>
            <p>new</p>
          </li>

          <li onclick="app.savedisplayedinfo();">
            <i class="fas fa-save fa-2x"></i>
            <p>save</p>
          </li>

          <li onclick="app.TTSQuote();" id="speakericon">
            <i class="fas fa-volume-up fa-2x"></i>
            <p>read</p>
          </li>

          <!--
          <li>
            <i class="fas fa-heart fa-2x"></i>
            <p style="color: #F2484B">Favorite</p>
          </li>
          -->

        </ul>
      </div>

</dab-html><dab-container v-bind="container2"><dab-label v-bind="label11"></dab-label></dab-container></div></transition>
