<transition v-bind:[app.viewTransitionName]="transitionName" v-bind:[app.viewTransitionMode]="transitionMode" v-bind:[app.viewInAnimation]="'animate__animated ' + 'animate__' + inAnimation" v-bind:[app.viewOutAnimation]="'animate__animated ' + 'animate__' +  outAnimation"><div id="view1" v-bind:class="['app-view', classes]"><dab-sidebar v-bind="app.sidebar"></dab-sidebar><dab-html v-bind="html2">      <div class="bnav">
        <ul>
          <li class="active">
            <i class="fas fa-home fa-2x"></i>
            <p>Home</p>
          </li>
          <li>
            <i class="fas fa-box fa-2x"></i>
            <p>Tool</p>
          </li>
          <li>
            <i class="fas fa-book-open fa-2x"></i>
            <p>Damn</p>
          </li>
          <li onclick='app.SideMenuToggle()'>
            <i class="fas fa-bars fa-2x" id='menuicon'></i>
            <p>menu</p>
          </li>
        </ul>
      </div>

</dab-html><dab-html v-bind="ll"><div id='menu'>
  <div class='menu-item'><span>Connection</span></div>
  <div class='menu-item'><span>Database info</span></div>
  <div class='menu-item'><span>Developer</span></div>
  <div class='menu-item'><span>Settings</span></div>
  <div class='menu-item-exit'><span>Exit App</span></div>
</div></dab-html><dab-container v-bind="container1"><dab-label v-bind="label1"></dab-label></dab-container></div></transition>
