


html, body, .app-view { width: 320px; height: 480px; }
.app-dialog .modal-dialog { margin: auto; width: 320px; height: 480px; }
.app-dialog .modal-dialog .modal-content { width: 320px; height: 480px; }

#HomePage #idHTMLFeaturedOpts { position: absolute; top: 0px; left: 0px; width: 320px; height: 448px; }

#HomePage #html2 { position: absolute; top: 432px; left: 0px; width: 320px; height: 48px; }

#HomePage #container1 { position: absolute; top: 0px; left: 0px; width: 320px; height: 40px; }

#HomePage #idMainTtl { position: absolute; top: 8px; left: 8px; width: 304px; height: 20px; }
#HomePage #idMainTtl {text-align: center;}

#Saved #NavSaved { position: absolute; top: 432px; left: 0px; width: 320px; height: 48px; }
#Saved #container1 { position: absolute; top: 0px; left: 0px; width: 320px; height: 40px; }

#Saved #label1 { position: absolute; top: 8px; left: 8px; width: 304px; height: 20px; }
#Saved #label1 {text-align: center;}

#MoreInfo #idHTMLTextInfo { position: absolute; top: 56px; left: 8px; width: 304px; height: 368px; }
#MoreInfo #idHTMLTextInfo {font-family: QuoteFont;}

#MoreInfo #idHTMLInfoBtmNav { position: absolute; top: 432px; left: 0px; width: 320px; height: 48px; }

#MoreInfo #container2 { position: absolute; top: 0px; left: 0px; width: 320px; height: 40px; }

#MoreInfo #label11 { position: absolute; top: 8px; left: 40px; width: 248px; height: 20px; }
#MoreInfo #label11 {text-align: center;}

#Favorites #idHTMLFavView { position: absolute; top: 0px; left: 8px; width: 304px; height: 480px; }

#Favorites #container1 { position: absolute; top: 0px; left: 0px; width: 320px; height: 40px; }

#Favorites #label1fav { position: absolute; top: 8px; left: 40px; width: 248px; height: 20px; }
#Favorites #label1fav {text-align: center;}

#Favorites #idHTMLFavBtmNav { position: absolute; top: 432px; left: 0px; width: 320px; height: 48px; }

#quoteoptions #button1 { position: absolute; top: 440px; left: 8px; width: 304px; height: 32px; }

#quoteoptions #idBtnMkCard { position: absolute; top: 16px; left: 8px; width: 304px; height: 113px; }
#quoteoptions #label1 { position: absolute; top: 136px; left: 8px; width: 304px; height: 20px; }
#quoteoptions #label1 {text-align: center;}
